header.jumbotron
  h1 IFPR Paranaguá
  if session.usuario
    p Seja bem vindo, #{session.usuario.nome} 
      a(href='/logout') [Deslogar]
      | 
      a(href='/usuarios') [Ver Usuários]
  else
    p Seja bem vindo, visitante 
      a(href='/login') [Fazer Login]
      | 
      a(href='/registrar') [Cadastre-se]