doctype html
html(lang='pt-br')
  head
    include _head
    title IFList - #{titulo}
  body
    include _menu
    include _cabecalho
    .container
      .row.justify-content-center
        .col-lg-6
          block conteudo
      include _rodape
    include _scripts