doctype html
html(lang='pt-br')
  head
    include _head
    title IFList - #{titulo}
  body
    include _menu
    .container
      include _cabecalho
      block conteudo
      include _rodape
    include _scripts