extends ../base

block conteudo
  .card
    .card-header Usuários Cadastrados
    ul.list-group.list-group-flush
      each usuario in usuarios
        li.list-group-item
          a(href=`/usuarios/${usuario.id}`)= usuario.nome
          a.badge.badge-light(href=`mailto:${usuario.email}`)= usuario.email
          a.btn.btn-primary.btn-sm(href=`/usuarios/${usuario.id}/editar`) Editar
