extends ../base

block conteudo
  h2 Editando Tarefa
  form(action=`/tarefas/${tarefa.id}` method='post')
    include _formulario
    button.btn.btn-primary(type='submit') Atualizar Tarefa
    a.btn.btn-link(href='/tarefas') Voltar