extends ../base

block conteudo
  h2 Nova Tarefa
  form(action='/tarefas' method='post')
    include _formulario
    button.btn.btn-primary(type='submit') Cadastrar
    a.btn.btn-link(href='/tarefas') Voltar