extends ../base

block conteudo
  div.text-center
    h2 Minhas Tarefas
    a.btn.btn-primary.btn-lg.mb-4(href='/tarefas/nova') Nova Tarefa

  .card
    ul.list-group.list-group-flush.lista-tarefas
      if tarefas.length > 0
        each tarefa in tarefas
          li.list-group-item
            if tarefa.concluida
              a.text-danger.mr-3(href=`/tarefas/${tarefa.id}/concluir`)
                i.far.fa-check-square
              a.text-danger(href=`/tarefas/${tarefa.id}`)= tarefa.titulo
            else
              a.text-dark.mr-3(href=`/tarefas/${tarefa.id}/concluir`)
                i.far.fa-square
              a.text-dark(href=`/tarefas/${tarefa.id}`)= tarefa.titulo
      else
        li.list-group-item Você ainda não cadastrou tarefas.