extends ../base

block conteudo
  if mensagem
    .alert.alert-danger= mensagem
  form(action='/login' method='post')
    .form-group
      label(for='email') Email
      input.form-control#email(type='email' name='email')
    .form-group
      label(for='senha') Senha
      input.form-control#senha(type='password' name='senha')
    button.btn.btn-primary(type='submit') Login